$orange: #fe8600;
$waterblue: #01ffff;
$yellowgreen: #00E100;
$yellow: #f9ff03;
$red: #fc041a;
$purple: #ff00fe;
$blue: #1e80FF;
$gray: #263238;
$lightgray: #445a64;


// breakpoint
$breakpoints: (
    'sm': 'screen and (max-width: 400px)',
    'md': 'screen and (max-width: 768px)',
    'lg': 'screen and (max-width: 1000px)',
    'xl': 'screen and (max-width: 1200px)',
) !default;

@mixin mq($breakpoint: md) {
    @media #{map-get($breakpoints, $breakpoint)} {
        @content;
    }
}
@mixin pseudos () {
    content: "";
}
@mixin d-none () {
    display: none;
}
body {
    margin: 0;
}
body, div, input, label {
    font-family: "Open Sans", "Hiragino Kaku Gothic ProN", "Meiryo", sans-serif;
}
input[type="checkbox"] {
    @include d-none;
}
input[type="checkbox"] + label {
}
#container {
    width: 480px;
    height: auto;
    position: relative;
    margin: 10px auto;
    label {
        position: absolute;
        display: none;
    }
    .tetoris-content {
        background-color: $gray;
        display: grid;
        grid-template-rows: repeat(18, 45px);
        -ms-grid-rows: repeat(10, 50px);
        grid-template-columns: repeat(10, 45px);
        -ms-grid-columns: repeat(10, 50px);
        padding: 15px;
        div[class*="tetoris-content"]{
            background-color: $lightgray;
            box-shadow: inset 1px 1px 0 0 $gray;
        }
        .tetoris-content__block4 {
            animation:  flashing_orange 1s linear 1 3.4s,
                        flashing_orange 1s linear 1 19.2s,
                        flashing_blue 1s linear 1 22.2s,
                        flashing_waterblue 1s linear 1 24.8s;
        }
        .tetoris-content__block5 {
            animation:  flashing_yellow 1s linear 1 0s,
                        flashing_orange 1s linear 1 3.4s,
                        flashing_purple 1s linear 1 6.4s,
                        flashing_yellowgreen 1s linear 1 8.8s,
                        flashing_yellow 1s linear 1 10.6s,
                        flashing_yellow 1s linear 1 13.6s,
                        flashing_purple 1s linear 1 16.6s,
                        flashing_orange 1s linear 1 19.2s,
                        flashing_blue 1s linear 1 22.2s,
                        flashing_waterblue 1s linear 1 24.8s;
        }
        .tetoris-content__block6 {
            animation: flashing_yellow 1s linear 1 0s,
                        flashing_orange 1s linear 1 3.4s,
                        flashing_yellowgreen 1s linear 1 8.8s,
                        flashing_yellow 1s linear 1 10.6s,
                        flashing_yellow 1s linear 1 13.6s,
                        flashing_orange 1s linear 1 19.2s,
                        flashing_blue 1s linear 1 22.2s,
                        flashing_waterblue 1s linear 1 24.8s,
                        flashing_waterblue .8s linear 1 27s;
        }
        .tetoris-content__block7 {
            animation:  flashing_waterblue 1s linear 1 24.8s;
        }
        .tetoris-content__block14 {
            animation:  flashing_orange 1s linear 1 3.4s,
                        flashing_orange 1s linear 1 4.4s,
                        flashing_purple 1s linear 1 6.4s,
                        flashing_yellowgreen 1s linear 1 8.8s,
                        flashing_purple 1s linear 1 16.6s,
                        flashing_purple .2s linear 1 18.8s,
                        flashing_orange 1s linear 1 19.2s,
                        flashing_orange 1s linear 1 20.2s,
                        flashing_blue 1s linear 1 23.2s,
                        flashing_waterblue 1s linear 1 25.8s;
        }
        .tetoris-content__block15 {
            animation:  flashing_yellow 1s linear 1 0s,
                        flashing_yellow 1s linear 1 1s,
                        flashing_orange 1s linear 1 4.4s,
                        flashing_purple 1s linear 1 6.4s,
                        flashing_purple 1s linear 1 7.4s,
                        flashing_yellowgreen 1s linear 1 8.8s,
                        flashing_yellowgreen .2s linear 1 9.8s,
                        flashing_yellowgreen .2s linear 1 10s,
                        flashing_yellow 1s linear 1 10.6s,
                        flashing_yellow 1s linear 1 11.6s,
                        flashing_yellow 1s linear 1 13.6s,
                        flashing_yellow 1s linear 1 14.6s,
                        flashing_purple 1s linear 1 16.6s,
                        flashing_purple 1s linear 1 17.6s,
                        flashing_orange 1s linear 1 20.2s,
                        flashing_blue 1s linear 1 23.2s,
                        flashing_waterblue 1s linear 1 25.8s;
        }
        .tetoris-content__block16 {
            animation: flashing_yellow 1s linear 1 0s,
                        flashing_yellow 1s linear 1 1s,
                        flashing_orange 1s linear 1 4.4s,
                        flashing_purple 1s linear 1 6.4s,
                        flashing_yellowgreen .2s linear 1 9.8s,
                        flashing_yellowgreen .2s linear 1 10.2s,
                        flashing_yellow 1s linear 1 10.6s,
                        flashing_yellow 1s linear 1 11.6s,
                        flashing_yellow 1s linear 1 13.6s,
                        flashing_yellow 1s linear 1 14.6s,
                        flashing_purple 1s linear 1 16.6s,
                        flashing_orange 1s linear 1 20.2s,
                        flashing_blue 1s linear 1 22.2s,
                        flashing_blue 1s linear 1 23.2s,
                        flashing_waterblue 1s linear 1 25.8s,
                        flashing_waterblue .8s linear 1 27s,
                        flashing_waterblue .2s linear 1 27.8s;
        }
        .tetoris-content__block17 {
            animation:  flashing_waterblue 1s linear 1 25.8s,
                        flashing_waterblue .2s linear 1 28s;
        }
        .tetoris-content__block18 {
            animation:  flashing_waterblue .2s linear 1 28.2s;
        }
        .tetoris-content__block19 {
            animation:  flashing_waterblue .2s linear 1 28.4s;
        }
        .tetoris-content__block20 {
            animation:  flashing_waterblue .2s linear 1 28.6s;
        }
        .tetoris-content__block21 {
            animation:  flashing_yellow .2s linear 1 2.8s,
                        flashing_orange .2s linear 1 21.8s;
        }
        .tetoris-content__block22 {
            animation:  flashing_yellow .2s linear 1 2.6s,
                        flashing_yellow .2s linear 1 2.8s,
                        flashing_orange .2s linear 1 5.8s,
                        flashing_orange .2s linear 1 21.6s,
                        flashing_orange .2s linear 1 21.8s;
        }
        .tetoris-content__block23 {
            animation:  flashing_yellow .2s linear 1 2.4s,
                        flashing_yellow .2s linear 1 2.6s,
                        flashing_orange .2s linear 1 5.6s,
                        flashing_orange .2s linear 1 5.8s,
                        flashing_orange .2s linear 1 21.4s,
                        flashing_orange .2s linear 1 21.6s,
                        flashing_orange .2s linear 1 21.8s;
        }
        .tetoris-content__block24 {
            animation:  flashing_yellow .2s linear 1 2.2s,
                        flashing_yellow .2s linear 1 2.4s,
                        flashing_orange 1s linear 1 4.4s,
                        flashing_orange .2s linear 1 5.4s,
                        flashing_orange .2s linear 1 5.6s,
                        flashing_orange .2s linear 1 5.8s,
                        flashing_purple 1s linear 1 7.4s,
                        flashing_yellowgreen .2s linear 1 9.8s,
                        flashing_purple 1s linear 1 17.6s,
                        flashing_purple .2s linear 1 18.8s,
                        flashing_orange 1s linear 1 20.2s,
                        flashing_orange .2s linear 1 21.2s,
                        flashing_orange .2s linear 1 21.4s,
                        flashing_orange .2s linear 1 21.6s,
                        flashing_blue .2s linear 1 24.2s,
                        flashing_waterblue .2s linear 1 26.8s;
        }
        .tetoris-content__block25 {
            animation:  flashing_yellow 1s linear 1 1s,
                        flashing_yellow .2s linear 1 2s,
                        flashing_yellow .2s linear 1 2.2s,
                        flashing_orange .2s linear 1 5.4s,
                        flashing_orange .2s linear 1 5.6s,
                        flashing_purple 1s linear 1 7.4s,
                        flashing_purple .2s linear 1 8.4s,
                        flashing_yellowgreen .2s linear 1 9.8s,
                        flashing_yellowgreen .2s linear 1 10s,
                        flashing_yellow 1s linear 1 11.6s,
                        flashing_yellow .2s linear 1 12.6s,
                        flashing_yellow 1s linear 1 14.6s,
                        flashing_yellow .2s linear 1 15.6s,
                        flashing_purple 1s linear 1 17.6s,
                        flashing_purple .2s linear 1 18.6s,
                        flashing_purple .2s linear 1 18.8s,
                        flashing_orange .2s linear 1 21.2s,
                        flashing_orange .2s linear 1 21.4s,
                        flashing_blue .2s linear 1 24.2s,
                        flashing_blue .2s linear 1 24.4s,
                        flashing_waterblue .2s linear 1 26.8s;
                    }
        .tetoris-content__block26 {
            animation:  flashing_yellow 1s linear 1 1s,
                        flashing_yellow .2s linear 1 2s,
                        flashing_orange .2s linear 1 5.4s,
                        flashing_purple 1s linear 1 7.4s,
                        flashing_yellowgreen .2s linear 1 10s,
                        flashing_yellowgreen .2s linear 1 10.2s,
                        flashing_yellow 1s linear 1 11.6s,
                        flashing_yellow .2s linear 1 12.6s,
                        flashing_yellow .2s linear 1 12.8s,
                        flashing_yellow 1s linear 1 14.6s,
                        flashing_yellow .2s linear 1 15.6s,
                        flashing_yellow .2s linear 1 15.8s,
                        flashing_purple 1s linear 1 17.6s,
                        flashing_orange .2s linear 1 21.2s,
                        flashing_blue 1s linear 1 23.2s,
                        flashing_blue .2s linear 1 24.2s,
                        flashing_blue .2s linear 1 24.4s,
                        flashing_waterblue .2s linear 1 26.8s,
                        flashing_waterblue .8s linear 1 27s,
                        flashing_waterblue .2s linear 1 27.8s;
        }
        .tetoris-content__block27 {
            animation:  flashing_yellowgreen .2s linear 1 10.2s,
                        flashing_yellow .2s linear 1 12.8s,
                        flashing_yellow .2s linear 1 13s,
                        flashing_yellow .2s linear 1 15.8s,
                        flashing_yellow .2s linear 1 16s,
                        flashing_blue .2s linear 1 24.4s,
                        flashing_waterblue .2s linear 1 26.8s,
                        flashing_waterblue .2s linear 1 28s;
        }
        .tetoris-content__block28 {
            animation:  flashing_yellow .2s linear 1 13s,
                        flashing_yellow .2s linear 1 13.2s,
                        flashing_yellow .2s linear 1 16s,
                        flashing_yellow .2s linear 1 16.2s,
                        flashing_waterblue .2s linear 1 28.2s;
        }
        .tetoris-content__block29 {
            animation:  flashing_yellow .2s linear 1 13.2s,
                        flashing_yellow .2s linear 1 16.2s,
                        flashing_waterblue .2s linear 1 28.4s;
        }
        .tetoris-content__block30 {
            animation:  flashing_waterblue .2s linear 1 28.6s;
        }
        .tetoris-content__block31 {
            animation:  flashing_yellow .2s linear 1 2.8s,
                        flashing_yellow .2s linear 1 3s,
                        flashing_orange .2s linear 1 21.8s;
        }
        .tetoris-content__block32 {
            animation:  flashing_yellow .2s linear 1 2.6s,
                        flashing_yellow .2s linear 1 2.8s,
                        flashing_yellow .2s linear 1 3s,
                        flashing_orange .2s linear 1 5.8s,
                        flashing_orange .2s linear 1 6.0s,
                        flashing_orange .2s linear 1 21.6s;
        }
        .tetoris-content__block33 {
            animation:  flashing_yellow .2s linear 1 2.4s,
                        flashing_yellow .2s linear 1 2.6s,
                        flashing_orange .2s linear 1 5.6s,
                        flashing_orange .2s linear 1 6.0s,
                        flashing_orange .2s linear 1 21.4s;
                            }
        .tetoris-content__block34 {
            animation:  flashing_yellow .2s linear 1 2.2s,
                        flashing_yellow .2s linear 1 2.4s,
                        flashing_orange .2s linear 1 5.4s,
                        flashing_purple .2s linear 1 8.4s,
                        flashing_purple .2s linear 1 18.6s,
                        flashing_purple .2s linear 1 18.8s,
                        flashing_orange .2s linear 1 21.2s;
        }        
        .tetoris-content__block35 {
            animation:  flashing_yellow .2s linear 1 2s,
                        flashing_yellow .2s linear 1 2.2s,
                        flashing_purple .2s linear 1 8.4s,
                        flashing_yellow .2s linear 1 12.6s,
                        flashing_yellow .2s linear 1 15.6s,
                        flashing_purple .2s linear 1 18.6s;
        }
        .tetoris-content__block36 {
            animation:  flashing_yellow .2s linear 1 2s,
                        flashing_purple .2s linear 1 8.4s,
                        flashing_yellowgreen .2s linear 1 10s,
                        flashing_yellow .2s linear 1 12.6s,
                        flashing_yellow .2s linear 1 12.8s,
                        flashing_yellow .2s linear 1 15.6s,
                        flashing_yellow .2s linear 1 15.8s,
                        flashing_purple .2s linear 1 18.6s,
                        flashing_blue .2s linear 1 24.2s,
                        flashing_waterblue .8s linear 1 27s,
                        flashing_waterblue .2s linear 1 27.8s;
        }
        .tetoris-content__block37 {
            animation:  flashing_yellowgreen .2s linear 1 10.2s,
                        flashing_yellow .2s linear 1 12.8s,
                        flashing_yellow .2s linear 1 13s,
                        flashing_yellow .2s linear 1 15.8s,
                        flashing_yellow .2s linear 1 16s,
                        flashing_blue .2s linear 1 24.4s,
                        flashing_waterblue .2s linear 1 28s;
        }
        .tetoris-content__block38 {
            animation:  flashing_yellow .2s linear 1 13s,
                        flashing_yellow .2s linear 1 13.2s,
                        flashing_yellow .2s linear 1 16s,
                        flashing_yellow .2s linear 1 16.2s,
                        flashing_waterblue .2s linear 1 28.2s;
        }
        .tetoris-content__block39 {
            animation:  flashing_yellow .2s linear 1 13.2s,
                        flashing_yellow .2s linear 1 16.2s,
                        flashing_waterblue .2s linear 1 28.4s;
        }
        .tetoris-content__block40 {
            animation:  flashing_waterblue .2s linear 1 28.6s;
        }
        .tetoris-content__block41 {
            animation:  flashing_yellow .2s linear 1 3s;
        }
        .tetoris-content__block42 {
            animation:  flashing_yellow .2s linear 1 3s;
        }
        .tetoris-content__block43 {
            animation:  flashing_orange .2s linear 1 6.0s;
        }
        .tetoris-content__block46 {
            animation:  flashing_waterblue .2s linear 1 27.8s;
        }
        .tetoris-content__block47 {
            animation:  flashing_waterblue .2s linear 1 28s;
        }
        .tetoris-content__block48 {
            animation:  flashing_waterblue .2s linear 1 28.2s;
        }
        .tetoris-content__block49 {
            animation:  flashing_waterblue .2s linear 1 28.4s;
        }
        .tetoris-content__block50 {
            animation:  flashing_waterblue .2s linear 1 28.6s;
        }
        .tetoris-content__block53 {
            animation:  flashing_orange .2s linear 1 6.0s;
        }
        .tetoris-content__block141 {
            animation:  end_orange 1s linear 22s forwards;
        }
        .tetoris-content__block142 {
            animation:  end_orange 1s linear 22s forwards;
        }
        .tetoris-content__block143 {
            animation:  end_orange 1s linear 22s forwards;
        }
        .tetoris-content__block144 {
            animation:  end_purple 1s linear 19s forwards;
        }
        .tetoris-content__block145 {
            animation:  end_blue 1s linear 24.6s forwards;
        }
        .tetoris-content__block146 {
            animation:  end_blue 1s linear 24.6s forwards;
        }
        .tetoris-content__block147 {
            animation:  end_blue 1s linear 24.6s forwards;
        }
        .tetoris-content__block148 {
            animation:  end_yellow 1s linear 16.4s forwards;
        }
        .tetoris-content__block149 {
            animation:  end_yellow 1s linear 16.4s forwards;
        }
        .tetoris-content__block150 {
            animation:  end_waterblue 1s linear 28.8s forwards;
        }
        .tetoris-content__block151 {
            animation:  end_orange 1s linear 22s forwards;
        }
        .tetoris-content__block152 {
            animation:  end_orange 1s linear 6.2s forwards;
        }
        .tetoris-content__block153 {
            animation:  end_orange 1s linear 6.2s forwards;
        }
        .tetoris-content__block154 {
            animation:  end_purple 1s linear 19s forwards;
        }
        .tetoris-content__block155 {
            animation:  end_purple 1s linear 19s forwards;
        }
        .tetoris-content__block156 {
            animation:  end_yellowgreen 1s linear 10.4s forwards;
        }
        .tetoris-content__block157 {
            animation:  end_blue 1s linear 24.6s forwards;
        }
        .tetoris-content__block158 {
            animation:  end_yellow 1s linear 16.4s forwards;
        }
        .tetoris-content__block159 {
            animation:  end_yellow 1s linear 16.4s forwards;
        }
        .tetoris-content__block160 {
            animation:  end_waterblue 1s linear 28.8s forwards;
        }
        .tetoris-content__block161 {
            animation:  end_yellow 1s linear 3.2s forwards;
        }
        .tetoris-content__block162 {
            animation:  end_yellow 1s linear 3.2s forwards;
        }
        .tetoris-content__block163 {
            animation:  end_orange 1s linear 6.2s forwards;
        }
        .tetoris-content__block164 {
            animation:  end_purple 1s linear 19s forwards;
        }
        .tetoris-content__block165 {
            animation:  end_purple 1s linear 8.6s forwards;
        }
        .tetoris-content__block166 {
            animation:  end_yellowgreen 1s linear 10.4s forwards;
        }
        .tetoris-content__block167 {
            animation:  end_yellowgreen 1s linear 10.4s forwards;
        }
        .tetoris-content__block168 {
            animation:  end_yellow 1s linear 13.4s forwards;
        }
        .tetoris-content__block169 {
            animation:  end_yellow 1s linear 13.4s forwards;
        }
        .tetoris-content__block170 {
            animation:  end_waterblue 1s linear 28.8s forwards;
        }
        .tetoris-content__block171 {
            animation:  end_yellow 1s linear 3.2s forwards;
        }
        .tetoris-content__block172 {
            animation:  end_yellow 1s linear 3.2s forwards;
        }
        .tetoris-content__block173 {
            animation:  end_orange 1s linear 6.2s forwards;
        }
        .tetoris-content__block174 {
            animation:  end_purple 1s linear 8.6s forwards;
        }
        .tetoris-content__block175 {
            animation:  end_purple 1s linear 8.6s forwards;
        }
        .tetoris-content__block176 {
            animation:  end_purple 1s linear 8.6s forwards;
        }
        .tetoris-content__block177 {
            animation:  end_yellowgreen 1s linear 10.4s forwards;
        }
        .tetoris-content__block178 {
            animation:  end_yellow 1s linear 13.4s forwards;
        }
        .tetoris-content__block179 {
            animation:  end_yellow 1s linear 13.4s forwards;
        }
        .tetoris-content__block180 {
            animation:  end_waterblue 1s linear 28.8s forwards;
        }
    }
}



@keyframes flashing_orange { 
    0%   { background-color: $lightgray; } 0.1%  { background-color: $orange; } 99.9%  { background-color: $orange; } 100% { background-color: $lightgray; }
}

@keyframes end_orange { 
    0%   { background-color: $orange; } 100% { background-color: $orange; }
}

@keyframes flashing_waterblue { 
    0%   { background-color: $lightgray; } 0.1%  { background-color: $waterblue; } 99.9%  { background-color: $waterblue; } 100% { background-color: $lightgray; }
}

@keyframes end_waterblue { 
    0%   { background-color: $waterblue; } 100% { background-color: $waterblue; }
}

@keyframes flashing_yellowgreen { 
    0%   { background-color: $lightgray; } 0.1%  { background-color: $yellowgreen; } 99.9%  { background-color: $yellowgreen; } 100% { background-color: $lightgray; }
}

@keyframes end_yellowgreen { 
    0%   { background-color: $yellowgreen; } 100% { background-color: $yellowgreen; }
}

@keyframes flashing_yellow { 
    0%   { background-color: $lightgray; } 0.1%  { background-color: $yellow; } 99.9%  { background-color: $yellow; } 100% { background-color: $lightgray; }
}

@keyframes end_yellow { 
    0%   { background-color: $yellow; } 100% { background-color: $yellow; }
}

@keyframes flashing_red { 
    0%   { background-color: $lightgray; } 0.1%  { background-color: $red; } 99.9%  { background-color: $red; } 100% { background-color: $lightgray; }
}

@keyframes end_red { 
    0%   { background-color: $red; } 100% { background-color: $red; }
}

@keyframes flashing_purple { 
    0%   { background-color: $lightgray; } 0.1%  { background-color: $purple; } 99.9%  { background-color: $purple; } 100% { background-color: $lightgray; }
}

@keyframes end_purple { 
    0%   { background-color: $purple; } 100% { background-color: $purple; }
}

@keyframes flashing_blue { 
    0%   { background-color: $lightgray; } 0.1%  { background-color: $blue; } 99.9%  { background-color: $blue; } 100% { background-color: $lightgray; }
}

@keyframes end_blue { 
    0%   { background-color: $blue; } 100% { background-color: $blue; }
}