<!DOCTYPE html>
html
    head
        meta(http-equiv='content-type',content='text/html charset=utf-8')
        meta(description='kirby pug/scss animationページです')
        meta(name='viewport', content='width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no')
        title Kirby pug/scss animation
        link(href='css/kirby.css', type='text/css', rel='stylesheet')
    body
        #container
            input(type='checkbox' id="kirbymove")
            label(for="kirbymove") ここを押してね！
            .kirby_content
                .kirby_inner
                    .eye
                    .dark
                    .eye.two
                    .dark
                    .mouth
                    .cheek
                    .cheek.two
                    .hand
                    .hand.two
                .foot
                .foot.two
                .comment HI!