<!DOCTYPE html>
html
    head
        meta(http-equiv='content-type',content='text/html charset=utf-8')
        meta(description='tetoris pug/scss animationページです')
        meta(name='viewport', content='width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no')
        title Tetoris pug/scss animation
        link(href='css/tetris.css', type='text/css', rel='stylesheet')
    body
        #container
            input(type='checkbox' id="tetorisbtn")
            label(for="tetorisbtn") START!
            .tetoris-content
                - var d = 1;
                while d <= 180
                    div(class=`tetoris-content__block${d++}`)